<!-- /*
* File: app.component.html
* Author: Bognár Dávid Márk
* Copyright: 2023, Bognár Dávid Márk
* Group: Szoft II/N
* Date: 2023-01-18
* Github: https://github.com/BognarDavidMark/
* Licenc: GNU GPL
*/ -->


<header class="bg-danger">
  <ul class="nav justify-content-center">
      <li class="nav-item">
          <a class="nav-link text-info" routerLink="/about">Névjegy</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-info" routerLink="/data">Városok</a>
      </li>
  </ul>
</header>
